extends layout

block content
    .container-fluid.varz
        h2 Variables
        .row.info
            .col-md-6
                strong Started:
                span(id="start")
            .col-md-6
                strong Uptime:
                span(id="uptime")
        .row.info
            .col-md-6
                strong In Bytes:
                span(id="inbytes")
            .col-md-6
                strong Out Bytes:
                span(id="outbytes")
        .row.info
            .col-md-6
                strong In Messages:
                span(id="inmsgs")
            .col-md-6
                strong Out Messages:
                span(id="outmsgs")
        .row.info
            .col-md-6
                strong KBytes/sec:
                span(id="bytesps")
            .col-md-6
                strong Messages/sec:
                span(id="msgsps")
    hr
    div.chart
      div(id="y_axis")
      div.epoch(id="chart", style="height: 200px")
    hr
    .container-fluid.connz
        h2 Connections
            small(id="numconnz")
        .row
            .col-md-12
                p Reports more detailed information on current connections.
        .row
            .col-md-12
                table.table(id="listconnz")
                    thead
                        tr
                            th cid
                            th ip
                            th port
                            th in msgs
                            th out msgs
                            th in bytes
                            th out bytes
                    tbody

    hr
