body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
span,
small {
  padding-left: 10px;
}
.info {
  padding: 8px;
  font-size: 1.3em;
  padding-left: 0;
}
thead {
  background-color: #f4f4f4;
}
.chart {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
#chart {

}
#y_axis {
  z-index:1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

.navbar {
  background-color: #4EDEAB;
  border-radius: 0;
  height: 90px;
}

.navbar-brand {
  font-size: 3em;
  background-color: #46C699;
  height: 88px;
  padding-right: 40px;

  img {
    padding-top: 15px;
  }
}

.varz {
  padding: 0 40px;
}
